body {
    background-color: whitesmoke;
    margin: 0;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

.settings-bar {
    z-index: 100;
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    height: 100px;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: lightgray;
    box-shadow: 0px 2px 15px #e8e8e8;
    text-align: center;
}

.left-setting, .right-setting {
    box-sizing: border-box;
    display: inline-block;
    text-align: right;
}

.left-setting {
    width: 200px;
}

.right-setting {
    width: 80px;
}

.settings-container {
    display: inline-block;
    margin: 30px;
}

.settings-container > input {
    box-sizing: border-box;
    display: inline-block;
    width: 50px;
}

#camera-container {
    margin: 100px auto 20px;
    padding: 20px;
    text-align: center;
}

#camera-container > div { /* Camera element */
    margin: 10px 10px 11px;
    padding: 15px 15px 15px;
    width: 475px;
    vertical-align: top;
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
    border-color: #e8e8e8;
    border-width: 1px;
    border-style: solid;
    box-shadow: 0px 0px 10px #e8e8e8;
    display: inline-block;
    text-align: left;
    margin-inline-start: 6px;
}

.images {
    margin: 8px 0 0;
}

.images > div > span { /* Image number */
    /* position: relative;
    top: 0; */
    vertical-align: top;
    font-size: 12px;
    margin: 0px 10px 0px 4px;
}

.images > div {
    vertical-align: top;
    margin: 2px 0;
    overflow: hidden;
}

.critical {
    background-color: rgb(255, 107, 81) !important;
}

.non-critical {
    background-color: rgb(96, 224, 96) !important;
}

/* .hidden {
    display: none !important;
} */

.bars {
    /* height: 10px; */
    display: inline-block;
    width: 93%;
    padding: 2px 0 0;
    /* line-height: 16px; */
}


.bars > div {  /* single bar */
    display: inline-block;
    vertical-align: middle;
    height: 10px;
    /* width: 24%; */
    box-sizing: border-box;
    border-radius: 3px;
    
    background-color: lightgray;
    padding: 0px 0 0 3px;
    font-size: 10px;
    margin: 0 2px 2px 0;
    
    -webkit-transition: width .5s ease, background-color .5s ease;
    -moz-transition: width .5s ease, background-color .5s ease;
    -o-transition: width .5s ease, background-color .5s ease;
    transition: width .5s ease, background-color .5s ease;
}

.bars > div:hover {
    filter: brightness(95%);
}

.bars > div > span { /* single bar number */
    line-height: 11px; /* +1 -> better center */
    margin: 0px 0px 0px 0px;
    font-size: 8px;
    color: white;
    /* font-weight: bold; */
}

.bars > div > span:hover {
    cursor: default;
}

.brightImage > div {
    filter: brightness(80%);
}

.close-camera {
    width: 15px;
    height: 15px;
    margin: 1px;
    float: right;
    filter: opacity(70%);
}

.close-camera:hover {
    cursor: pointer;
    filter: opacity(100%);
}

.copyright {
    margin: 15px 0px 40px;
    text-align: center;
    color: gray;
    font-size: 14px;
}


.copyright > a {
    margin: 15px 0px 40px;
    text-align: center;
    text-decoration: none;
    color: gray;
    font-size: 14px;
}

.copyright > a:hover {
    color: darkgray;
}
